@font-face {
    font-family: "iconfont"; /* Project id 3078533 */
    src: url('//at.alicdn.com/t/font_3078533_smnjn3d0sv.woff2?t=1646646846383') format('woff2'),
    url('//at.alicdn.com/t/font_3078533_smnjn3d0sv.woff?t=1646646846383') format('woff'),
    url('//at.alicdn.com/t/font_3078533_smnjn3d0sv.ttf?t=1646646846383') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-31tuwenxiangqing:before {
    content: "\e603";
}

.icon-video:before {
    content: "\e634";
}

.icon-juzi:before {
    content: "\e604";
}


.icon-rijiben:before {
    content: "\e763";
}
.icon-shoucang1:before {
    content: "\e661";
    font-size: 2.7em;
}

.icon-xihuan:before {
    content: "\e86f";
    font-size: 3em;
}

.icon-shoucang2:before {
    content: "\e602";
    font-size: 2.7em;
}

.icon-xiai:before {
    content: "\e601";
    font-size: 3em;
}

.icon-iconset0468:before {
    content: "\e75b";
}

.icon-duoyun:before {
    content: "\e6f3";
}

.icon-xiayu:before {
    content: "\e62b";
}

.icon-yewan:before {
    content: "\e60f";
}

.icon-qinglang:before {
    content: "\e667";
}

.icon-wunai:before {
    content: "\e608";
}

.icon-_lianaiqinggan:before {
    content: "\e615";
}

.icon-a-shengqifennushangxindaku-15:before {
    content: "\e7ea";
}

.icon-shangxin:before {
    content: "\e62a";
}

.icon-haipabiaoqing:before {
    content: "\e69d";
}

.icon-a-weixiaokaixingaoxing-12:before {
    content: "\e7ef";
}

.icon-shoucang:before {
    content: "\e600";
}

.icon-lovetaoxin:before {
    content: "\e6af";
}

.icon-shixintaoxin:before {
    content: "\e63b";
}

.icon-fuzhushuxian:before {
    content: "\e6f4";
}

.icon-tubiaozhizuo-:before {
    content: "\e605";
}

.icon-Magnifier:before {
    content: "\e62d";
}
