html , body , #app ,.el-container , .common-layout{
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-family: 华文行楷;*/
}

a {
    text-decoration: none;
}
.router-link-active {
    text-decoration: none;
}